.blue {
  background-color: #1D3C7C; }

.blue-back {
  background-color: #1D3C7C; }

.white {
  background-color: #fefefe; }

.cardinal {
  background-color: #931e42; }

.punch {
  background-color: #b92c28; }

.sundown {
  background-color: #f7b3b6; }

.red {
  background-color: #ed2b33; }

.flamingo {
  background-color: #f05c62; }

.cupid {
  background-color: #f6b7ba; }

.apple {
  background-color: #54aa3a; }

.mantis {
  background-color: #81c252; }

.ironbark {
  background-color: #68502a; }

.highland {
  background-color: #809a53; }

.rainforest {
  background-color: #637f2e; }
