.blue {
  background-color: #1D3C7C; }

.blue-back {
  background-color: #1D3C7C; }

.white {
  background-color: #fefefe; }

.cardinal {
  background-color: #931e42; }

.punch {
  background-color: #b92c28; }

.sundown {
  background-color: #f7b3b6; }

.red {
  background-color: #ed2b33; }

.flamingo {
  background-color: #f05c62; }

.cupid {
  background-color: #f6b7ba; }

.apple {
  background-color: #54aa3a; }

.mantis {
  background-color: #81c252; }

.ironbark {
  background-color: #68502a; }

.highland {
  background-color: #809a53; }

.rainforest {
  background-color: #637f2e; }

.blue {
  background-color: #1D3C7C; }

.blue-back {
  background-color: #1D3C7C; }

.white {
  background-color: #fefefe; }

.cardinal {
  background-color: #931e42; }

.punch {
  background-color: #b92c28; }

.sundown {
  background-color: #f7b3b6; }

.red {
  background-color: #ed2b33; }

.flamingo {
  background-color: #f05c62; }

.cupid {
  background-color: #f6b7ba; }

.apple {
  background-color: #54aa3a; }

.mantis {
  background-color: #81c252; }

.ironbark {
  background-color: #68502a; }

.highland {
  background-color: #809a53; }

.rainforest {
  background-color: #637f2e; }

.header-text {
  font-family: 'PT Serif', serif;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: -1px -1px 0 #fefefe, 1px -1px 0 #fefefe, -1px 1px 0 #fefefe, 1px 1px 0 #fefefe; }

.cursive {
  font-family: 'Damion', cursive; }

.white-font {
  color: #fefefe; }

.red-font {
  color: #ed2b33; }

md-list md-list-item button.md-button:not([disabled]):hover {
  background-color: transparent; }

.md-button:not([disabled]).md-focused {
  background-color: transparent; }

.buy-tabs md-content {
  background-color: transparent !important; }

.buy-tabs md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1; }

.buy-tabs md-content md-tabs md-tabs-wrapper {
  background: white; }

.buy-tabs md-content h1:first-child {
  margin-top: 0; }

md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
  color: black; }

body {
  background-color: #1D3C7C; }

.main-content {
  background-color: #1D3C7C; }

.main-img {
  width: 30vw; }

.brand-logo img {
  width: 60vmin; }

.nav-wrapper {
  background-color: #54aa3a; }

md-toolbar .fa {
  margin-right: 1vw; }

md-sidenav .fa {
  margin-right: 1vw; }

.sidenav-active {
  background-color: #E4E4E4;
  transition: all 2s ease; }

md-sidenav.md-locked-open {
  width: 200px;
  min-width: 200px;
  max-width: 304px;
  height: 100%; }

.md-toolbar-tools {
  background-color: #43a047; }

.fa-bars {
  font-size: 25px;
  color: white; }

#rightMenu {
  position: absolute;
  right: 2vw; }

.md-button.md-primary {
  color: black; }

.fa-long-arrow-left {
  font-size: 25px; }

.slider-logo {
  margin: 0; }

.slider .cursive {
  text-shadow: 2px 2px 8px black; }

.ng-gallery {
  text-align: center; }
  .ng-gallery .thumb-holder {
    display: inline-block;
    border: 2px solid white;
    margin: 2px; }
  .ng-gallery .ng-thumb {
    height: inherit;
    cursor: zoom-in; }

.thumb-holder:hover {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  opacity: 0.8; }
