<div ng-cloak="" class="buy-tabs" ng-app="MyApp">
  <md-content>
    <md-tabs style="width: 600px" md-dynamic-height="" md-border-bottom="">
      <md-tab label="Buy Now">
        <md-content class="md-padding">
          <h1 class="md-display-2 cursive red-font">Buy Now</h1>
          <div class="row">
          <form ng-submit="addToCart(item, price)" class="col s4">
            <md-input-container>
            <label>Quantity</label>
              <input ng-model="item.quantity" type="number" step="1" ng-keyup="checkQuantity(item.quantity)" min="1">
            </md-input-container>
            <p>Price: ${{price}} </p>
            <input type="hidden" ng-model="item.title">
            <input type="hidden" ng-model="item.price">
            <md-button>Add to Cart</md-button>
          </form>
          <div class="col s4">
            <h5>Includes:</h5>
            <ul>
              <li>20" Alignment Bar with Numbers</li>
              <li>2 - 6" Sliding Supports</li>
              <li>4" Sliding Support</li>
              <li>Instructional Manual</li>
              <li>Logo Pouch</li>
            </ul>
          </div>
          <div class="col s4">
            <img style="width:100%" src="assets/images/closeup2-compressor.jpg" alt="">
          </div>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Wholesale Program">
        <md-content class="md-padding col s6">
          <h1 class="md-display-2 cursive red-font">Wholesale Buyers</h1>
          <form>
            <div class="col s4">
            </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate">
                  <label for="password">Password</label>
                </div>
            </div>
            <md-button>Log in</md-button>
          </form>
          <p>Interested in purchasing wholesale? <a href="#">Click Here</a> to fill out an application.</p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
