<div class="cart" layout="row">
   <md-card class="my-content">
      <md-card-content>
      <table class="white">
            <caption>
              <h5 class="table-header"><i class="fa fa-shopping-cart"></i>Shopping Cart</h5>
            </caption>
        <thead>
          <tr>
              <th></th>
              <th data-field="id">Qty</th>
              <th data-field="name">Item</th>
              <th data-field="price">Price</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="c in cart.items">
            <td><md-button class="remove-btn" aria-label="remove item" ng-click="removeItem(c)"><i class="fa fa-times"></i></md-button></td>
            <td><input type="number" step="1" min="1" ng-model="c.quantity" style="max-width: 50px; text-align: center;"></td>
            <td>{{c.title}}</td>
            <td>{{c.price}}</td>

          </tr>
          <tr style="border-top: 1px solid #D0D0D0;">
            <td></td>
            <td></td>
            <td class="totals">Subtotal:</td>
            <td>$ {{cart.subtotal}}</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td class="totals">Shipping:</td>
            <td>$ {{cart.shipping}}</td>
          </tr>
           <tr>
            <td></td>
            <td></td>
            <td class="totals">Total:</td>
            <td style="font-weight: bolder;"> $ {{cart.total}}</td>
          </tr>
        </tbody>
      </table>
      <form class="totals" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_cart">
        <input type="hidden" name="upload" value="1">
        <input type="hidden" name="business" value="Aines.kevin@gmail.com">
        <input type="hidden" ng-repeat="c in cart.items" name="{{c.paypal.item}}" value="{{c.title}}">
        <input type="hidden" ng-repeat="c in cart.items" name="{{c.paypal.quantity}}" value="{{c.quantity}}">
        <input type="hidden" ng-repeat="c in cart.items" name="{{c.paypal.amount}}" value="{{c.price}}">
        <md-button value="PayPal">Proceed To Checkout</md-button>
      </form>
    </md-card-content>
  </md-card>
</div>
