<div class="card">
  <div class="card-image">
      <img style="width: 100%;" src="assets/images/design1-compressor.jpg" alt="kevin">
      <span class="card-title">The Design</span>
  </div>
  <div layout-padding>
    <p>During the last week of October 2014, I played in a Pro Am at St. Ives Country Club

          here in Atlanta. I was paired with the Moore family as my three amateur partners.

          This is when I met Kyle. During the round, I mentioned to him about my invention

          and showed him a proto type made out of plumbing parts. I’m not sure what he

          thought about this plastic sliding putting system. By the end of the round, Kyle was

          on board. Come to find out, Kyle is an engineer graduate from Georgia Tech. He

          developed our first 3-D proto type in his garage.  The new look was awesome. I was

          amazed, but the best is yet to come.</p>

      <p>I had contacted a number of design manufacturers here in Atlanta. As my luck

        continues, I found Matthew Dave @ Central One in Fayetteville, just south of the

        Atlanta airport. Once Matt and Kyle started working together, I stepped back and

        watched them work their magic. Every time Matt needed dimension changes or

        different files, Kyle delivered.</p>

      <p>Six months later, it is time to file for our U.S. Patent. With Kyle’s experience on

      patents, he gave me the perfect application.  August 1, 2015, the patent was issued.</p>

      <p>Now it’s October 2015. Again, I’m in the Pro-Am at St. Ives and again the Moore

      family is my amateur partners for the second year in a row. Teeing up on the #14

      tee, Kyle turned to me and said, “Hey Kevin, just think one year ago we talked about

      the Pro Low for the first time and now you have a patent.”  I replied, Kyle, if not for

      you, I’d still be looking at a sketch on a piece of paper! The Journey goes on!</p>
  </div>
</div>
