<!-- <img class="main-img" src="assets/images/main.jpg" alt="prolow"> -->
<h5>The Pro Low Putting System</h5>
 <div class="slider">
    <ul class="slides">
      <li>
        <img src="assets/images/landscape5-compressor.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>The Pro Low Putting System!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="assets/images/landscape2-compressor.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="assets/images/landscape3-compressor.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="assets/images/landscape1-compressor.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>


  <script>
    $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
  </script>

