 <div class="slider">
    <ul class="slides">
      <li>
        <img src="assets/images/landscape3-compressor.jpg"> <!-- random image -->
        <div class="caption right-align">
         <img style="background-size: contain;
                    background-repeat: no-repeat;
                    width: 40vw; height: 30vh;"
              src="assets/logos/logo.png" alt="">
          <h5 class="light grey-text text-lighten-3 cursive red-font">A Teaching Aid Like No Other</h5>
        </div>
      </li>
      <li>
        <img src="assets/images/landscape2-compressor.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3 class="header-text red-font">Develop Your Stroke</h3>
          <h5 class="light grey-text text-lighten-3 cursive">Control Your Distance.</h5>
        </div>
      </li>
      <li>
        <img src="assets/images/landscape5-compressor.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3 class="header-text red-font">One of a Kind Design</h3>
          <h5 class="light grey-text text-lighten-3 cursive">Simple, Easy, Durable.</h5>
        </div>
      </li>
      <li>
        <img src="assets/images/landscape1-compressor.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3 class="header-text red-font">The Perfect Gift</h3>
          <h5 class="light grey-text text-lighten-3 cursive">For Right or Left Handed Golfers.</h5>
        </div>
      </li>
    </ul>
  </div>
  <div layout="row" class="white-font">
    <md-card class="blue-card" layout-align="center center" flex="35" layout-fill>
      <img style="width: 100%;" src="assets/logos/pga.png" alt="pga logo">
      <span>Kevin Aines, PGA</span>
    </md-card>
    <div flex="20"></div>
    <md-card flex="50" class="blue-card">
      <md-card-content>
        <div layout="row" class="catchphrases" layout-align="center center">
          <div layout="column" flex="40">
            <p>Simple Assembly</p>
            <p>Durable Plastic</p>
          </div>
          <div layout="column" flex="40">
            <p>Easy Storage</p>
            <p>Weather Proof</p>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>



  <script>
    $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
  </script>

