<md-card>
  <md-card-content>
      <table class="striped">
        <thead>
          <tr>
              <th data-field="id">Quantity</th>
              <th data-field="name">Price</th>
              <th data-field="price">Shipping Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>0 - 5</td>
            <td>$39.95</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>10 - 20</td>
            <td>$35.52</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>20 - 1000</td>
            <td>Free</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table>
  </md-card-content>
</md-card>
