<md-card class="my-content">
  <md-card-content>
      <div class="row center">
        <h5>Each Unit Includes:</h5>
        <ul>
          <li>20" Alignment Bar with Numbers</li>
          <li>2 - 6" Sliding Supports</li>
          <li>4" Sliding Support</li>
          <li>Instructional Manual</li>
          <li>Logo Pouch</li>
        </ul>
      </div>
      <div class="row">
        <table class="striped">
          <thead>
            <tr>
                <th></th>
                <th data-field="id">Quantity</th>
                <th data-field="name">Price</th>
                <!-- <th data-field="price">Shipping Price</th> -->
            </tr>
          </thead>

          <tbody>
            <tr>
              <td></td>
              <td>0 - 5</td>
              <td>$39.95</td>
              <!-- <td>$0.87</td> -->
            </tr>
            <tr>
              <td></td>
              <td>10 - 20</td>
              <td>$35.52</td>
              <!-- <td>$3.76</td> -->
            </tr>
            <tr>
              <td></td>
              <td>20 - 1000</td>
              <td>Free</td>
              <!-- <td>$7.00</td> -->
            </tr>
          </tbody>
        </table>
      </div>
  </md-card-content>
</md-card>
