<md-card class="my-content">
  <md-card-content>
      <div class="row center">
        <h5>Each Pro Low Putting System is $39.95</h5>
        <h5>And Includes:</h5>
        <ul>
          <li>20" Alignment Bar with Numbers</li>
          <li>2 - 6" Sliding Supports</li>
          <li>4" Sliding Support</li>
          <li>Instructional Manual</li>
          <li>Logo Pouch</li>
        </ul>
        <p>Wholesale pricing is available to those who qualify.</p>
        <p><a href="#/wholesaleRequest">Click Here</a> to fill out an application or contact Kevin Aines @ 804-577-7841 for information</p>
      </div>
  </md-card-content>
</md-card>
