<md-dialog ng-cloak style="min-width: 300px; max-width: 700px;">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Shipping Prices</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          Close
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <!-- <table class="bordered"> -->
        <h2 style="text-align: center;"><i class="fa fa-truck"></i></h2>
        <p style="text-align: center;">Shipping is free on all orders!</p>
        <!-- <thead>
          <tr>
              <th data-field="id">Qty</th>
              <th data-field="price">Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>0 - 5</td>
            <td>FREE</td>
          </tr>
          <tr>

            <td>5 - 10</td>
            <td>$100</td>
          </tr>
          <tr>
            <td>10 - 15</td>
            <td>$100,000</td>
          </tr>
        </tbody>
      </table> -->
      </div>
    </md-dialog-content>
</md-dialog>
