<div>
<md-content>
  <md-card layout-padding>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">The Story</span>
            <span class="md-subhead">Kevin Aines</span>
          </md-card-title-text>
        </md-card-title>
    <md-card-content layout="row">

     <div layout="column" flex="50" layout-padding>
        <p>In the summer of 2014, I attended a P.G.A. teaching seminar at the Idle Hour

      Country Club in Macon, Georgia. During the seminar one of the guest speakers had

      invented a golf swing teaching aid.  His presentation from the first idea of the

      invention until the final product was incredible. The Journey, he said, was the

      success story. In his final comments he suggested that if you have an idea, “Go for it.”

      That comment stuck with me even though at that time I didn’t have a thought about

      any type of invention or product.</p>

      <p>Then it happened!</p>

      <p>October 2014, after a day at the Club giving a couple of putting lessons, I headed

      home. Sitting on the back patio listening to Jimmy Buffett and enjoying a Rum

      cocktail, it came to me, from where I have no clue. I went into the house, picked up a

      pad and started sketching. As I sketched, the ideas kept coming; an alignment bar

      with sliding supports, numbers for distance control and a narrow opening support

      to challenge the player.  Then, the name just came out, The Pro Low Putting System.

      The next morning I am at the hardware store buying plumbing parts to put together

      a proto type. Next came the PVC proto types. The idea now has a true form, but this

      was just the start.</p>

      <p>My journey has now begun.</p>
     </div>
    <div layout="column" flex="50" layout-padding>
        <img style="width: 100%;" src="assets/images/kevin.jpg" class="md-card-image" alt="kevin">
     </div>
    </md-card-content>
  </md-card>
</md-content>
</div>
