<div class="valign-wrapper" style="height: 15vmin;" ng-if="errorMessage" ng-hide="loadingTestimonial">
  {{errorMessage}}
</div>
<my-loader ng-show="loadingTestimonial"></my-loader>
<div ng-if="!errorMessage" ng-hide="loadingTestimonial">
  <md-card class="my-content">
    <md-card-content>
      <h5 class="center">{{testimonial.title}}</h5>
      <h6 class="center">By {{testimonial.author}}</h6>
      <p>{{testimonial.testimonial}}</p>
    </md-card-content>
  </md-card>
  <p class="white-font center"><a href="#/testimonials">Click here</a> to go back to testimonials</p>
</div>
