<div class="valign-wrapper" style="height: 70vmin;" ng-if="errorMessage" ng-hide="loadingTestimonials">
  {{errorMessage}}
</div>
<my-loader ng-show="loadingTestimonials"></my-loader>
<div ng-if="!errorMessage" ng-hide="loadingTestimonials">
  <h5 class="header-text red-font center">Testimonials</h5>
  <div ui-view>
  <p ng-if="testimonials.length > 1" class="white-font center">Love your Pro Low? <a href="#/testimonials/add">Click here</a> to share your experience!</p>
  <p class="white-font center" ng-if="testimonials.length < 1">Testimonials coming soon! <a href="#/testimonials/add">Click here to add yours!</a></p>
    <md-content class="my-content">
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="t in testimonials | filter:{approved:true}" ng-click="goToSingle(t._id)">
         <i class="fa fa-user" ng-hide="t.image"></i>
          <img ng-show="t.image" ng-src="{{t.image}}?{{$index}}" class="face" alt="{{t.author}}">
          <div class="md-list-item-text testimonial-list">
            <h3><strong>{{t.title}}</strong></h3>
            <h4>{{t.author}}</h4>
            <p>{{t.testimonial}}</p>
          </div>
          <md-divider md-inset ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
</div>

