<!DOCTYPE html>
<html>
<head>
  <title>The Pro Low Putting System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/vendor/normalize.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700|Damion" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/vendor/font-awesome.css">
  <link rel="stylesheet" href="css/vendor/angular-material.css">
  <link rel="stylesheet" href="css/vendor/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/vendor/ngGallery.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="app">
<div ng-controller="MainController" layout="column" ng-cloak class="main">
<!--     <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 ng-click="navigateTo('home')">
          <span>The Pro Low Putting System</span>
        </h2>
        <span flex></span>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-youtube"></i>
      </div>
    </md-toolbar> -->
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#!">one</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>
    </ul>
    <nav>
    <div class="nav-wrapper">
      <a ng-click="navigateTo('home')" class="brand-logo"><img src="assets/logos/nav-logo-white.png" alt="pro low logo"></a>
      <div>
        <md-button aria-label="left menu" ng-click="toggleLeft()" class="md-primary" hide-gt-md="">
          <i class="fa fa-bars"></i>
        </md-button>
        <md-button aria-label="right menu" id="rightMenu" ng-click="toggleRight()"  hide-gt-md="" class="md-primary">
          <i class="fa fa-bars"></i>
        </md-button>
      </div>
      <div >

      </div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li ng-if="isUserLoggedIn">
          <md-menu>
            <md-button aria-label="Open user profile" ng-click="openMenu($mdOpenMenu, $event)">
              <i class="fa fa-user" style="display: inline;"></i>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item>
                <md-button ng-click="navigateTo('buyWholesale')">
                  <md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>
                  Buy/Profile
                </md-button>
              </md-menu-item>
                <md-menu-divider></md-menu-divider>
              <md-menu-item ng-controller="UserController">
                <md-button ng-click="logOut()">
                  <md-icon md-svg-icon="call:voicemail"></md-icon>
                  Logout
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </li>
        <li><a href="https://www.facebook.com/prolowputting/"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li ng-show="hasCart" style="border-left: 1px solid white;">
          <a ng-click="navigateTo('cart')" layout="row">
            <i layout="column" style="margin-right: 15px;" class="fa fa-shopping-cart"></i>
            <div layout="column">
              <h6>{{cart.totalItems}} Item(s)</h6>
              <h6>${{cart.subtotal}}</h6>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <section class="blue-back" layout="row" flex="">

    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

<!--       <md-toolbar>
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar> -->
      <md-content layout-padding="" ng-controller="LeftCtrl">
        <md-button aria-label="collapse menu" ng-click="close()" class="md-primary" hide-gt-md="">
          <i class="fa fa-long-arrow-left"></i>
        </md-button>
        <p hide-md="" show-gt-md="">
        </p>
        <md-list>
          <md-list-item id="cart" ng-show="hasCart" ng-click="navigateTo('cart', 'left')">
           <i class="fa fa-shopping-cart"></i><p>Shopping Cart</p>
          </md-list-item>
          <md-list-item id="buyWholesale" ng-show="isUserLoggedIn" ng-click="navigateTo('buyWholesale', 'left')">
           <i class="fa fa-user"></i><p>{{username}}</p>
          </md-list-item>
          <md-list-item id="buy" ng-click="navigateTo('buy', 'left')">
           <i class="fa fa-shopping-bag"></i><p>Buy Now</p>
          </md-list-item>
          <md-list-item id="gallery" class="" ng-click="navigateTo('gallery', 'left')">
            <i class="fa fa-picture-o"></i> <p>Gallery</p>
          </md-list-item>
          <md-list-item id="videos" ng-click="navigateTo('videos', 'left')">
            <i class="fa fa-video-camera"></i><p>Videos</p>
          </md-list-item>
          <md-list-item id="story" ng-click="navigateTo('story', 'left')">
            <i class="fa fa-book"></i><p>The Story</p>
          </md-list-item>
          <md-list-item id="design" ng-click="navigateTo('design', 'left')">
            <i class="fa fa-cogs"></i><p>The Design</p>
          </md-list-item>
          <md-list-item id="testimonials" ng-click="navigateTo('testimonials', 'left')">
            <i class="fa fa-users"></i><p>Testimonials</p>
          </md-list-item>
          <md-list-item id="info" ng-click="toggleRight()" >
            <i class="fa fa-info-circle"></i><p>More Info</p>
          </md-list-item>
        </md-list>
      </md-content>

    </md-sidenav>

    <md-content class="main-content" flex="" layout-padding="">



      <div layout="row">

<!--         <div id="leftMenu">
          <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md="">
            <i class="fa fa-bars"></i>
          </md-button>
        </div> -->

      </div>
    <div class="container" layout="column" layout-align="center center" ui-view>
    </div>
    </md-content>

    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">

      <md-toolbar>
        <h1 class="md-toolbar-tools" ng-click="toggleRight()"><i class="fa fa-info-circle"></i></h1>
      </md-toolbar>
      <md-content ng-controller="RightCtrl" layout-padding="">
      <md-list>
        <md-list-item id="pricing" ng-click="navigateTo('pricing', 'right')">
          <i class="fa fa-credit-card"></i><p>Pricing</p>
        </md-list-item>
        <md-list-item id="shipping" ng-click="showShipping($event)">
          <i class="fa fa-truck"></i><p>Shipping Info</p>
        </md-list-item>
        <md-list-item id="warranty" ng-click="showWarranty($event)">
          <i class="fa fa-certificate"></i><p>Warranty</p>
        </md-list-item>
        <md-list-item id="contact" ng-click="navigateTo('contact', 'right')">
          <i class="fa fa-phone"></i><p>Contact</p>
        </md-list-item>
      </md-list>

      </md-content>

    </md-sidenav>

  </section>

</div>
<!-- <footer>
  <h5>Need footer info</h5>
</footer> -->
  <!-- vendors -->
  <script src="dist/vendor.js"></script>
  <!-- APP -->
  <script src="dist/app.js"></script>
</body>
</html>
