<!DOCTYPE html>
<html>
<head>
  <title>The Pro Low Putting System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/vendor/normalize.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700|Damion" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/vendor/font-awesome.css">
  <link rel="stylesheet" href="css/vendor/angular-material.css">
  <link rel="stylesheet" href="css/vendor/materialize.css">
  <link rel="stylesheet" href="css/vendor/ngGallery.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="app">
<div ng-controller="MainController" layout="column" ng-cloak="">
<!--     <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 ng-click="navigateTo('home')">
          <span>The Pro Low Putting System</span>
        </h2>
        <span flex></span>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-youtube"></i>
      </div>
    </md-toolbar> -->
    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img src="assets/logos/nav-logo-white.png" alt="pro low logo"></a>
      <div>
        <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md="">
          <i class="fa fa-bars"></i>
        </md-button>
        <md-button id="rightMenu" ng-click="toggleRight()"  hide-gt-md="" class="md-primary">
          <i class="fa fa-bars"></i>
        </md-button>
      </div>
      <div >

      </div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="fa fa-facebook"></i></a></li>
        <li><a href="badges.html"><i class="fa fa-youtube"></i></a></li>
      </ul>
    </div>
  </nav>

  <section class="blue-back" layout="row" flex="">

    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

<!--       <md-toolbar>
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar> -->
      <md-content layout-padding="" ng-controller="LeftCtrl">
        <md-button ng-click="close()" class="md-primary" hide-gt-md="">
          <i class="fa fa-long-arrow-left"></i>
        </md-button>
        <p hide-md="" show-gt-md="">
        </p>
        <md-list>
          <md-list-item ng-click="navigateTo('buy', 'left')">
           <i class="fa fa-shopping-cart"></i><p>Buy Now</p>
          </md-list-item>
          <md-list-item class="" ng-click="navigateTo('gallery', 'left')">
            <i class="fa fa-picture-o"></i> <p>Gallery</p>
          </md-list-item>
          <md-list-item ng-click="navigateTo('videos', 'left')">
            <i class="fa fa-video-camera"></i><p>Videos</p>
          </md-list-item>
        <md-list-item ng-click="navigateTo('story', 'left')">
          <i class="fa fa-book"></i><p>The Story</p>
        </md-list-item>
        <md-list-item ng-click="navigateTo('design', 'left')">
          <i class="fa fa-cogs"></i><p>The Design</p>
        </md-list-item>
          <md-list-item ng-click="navigateTo('testimonials', 'left')">
            <i class="fa fa-users"></i><p>Testimonials</p>
          </md-list-item>
          <md-list-item ng-click="toggleRight()" >
            <i class="fa fa-info-circle"></i><p>More Info</p>
          </md-list-item>
        </md-list>
      </md-content>

    </md-sidenav>

    <md-content class="main-content" flex="" layout-padding="">



      <div layout="row">

<!--         <div id="leftMenu">
          <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md="">
            <i class="fa fa-bars"></i>
          </md-button>
        </div> -->

      </div>
    <div class="container" layout="column" layout-align="center center" ui-view>
    </div>
    </md-content>

    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">

      <md-toolbar>
        <h1 class="md-toolbar-tools" ng-click="toggleRight()"><i class="fa fa-info-circle"></i></h1>
      </md-toolbar>
      <md-content ng-controller="RightCtrl" layout-padding="">
      <md-list>
        <md-list-item ng-click="navigateTo('pricing', 'right')">
          <i class="fa fa-credit-card"></i><p>Pricing</p>
        </md-list-item>
        <md-list-item ng-click="navigateTo('data usage', $event)">
          <i class="fa fa-truck"></i><p>Shipping Info</p>
        </md-list-item>
        <md-list-item ng-click="navigateTo('data usage', $event)">
          <i class="fa fa-certificate"></i><p>Warranty</p>
        </md-list-item>
        <md-list-item ng-click="navigateTo('contact', 'right')">
          <i class="fa fa-phone"></i><p>Contact</p>
        </md-list-item>
      </md-list>

      </md-content>

    </md-sidenav>

  </section>

</div>
<footer>
</footer>

  <!-- VENDOR -->
  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/underscore.js"></script>
  <script src="js/vendor/angular.js"></script>
  <script src="js/vendor/angular-ui-router.js"></script>
  <script src="js/vendor/angular-animate.js"></script>
  <script src="js/vendor/angular-aria.js"></script>
  <script src="js/vendor/angular-material.js"></script>

  <script src="js/vendor/ngGallery.js"></script>

  <script src="js/vendor/materialize.js"></script>
  <script src="js/vendor/materialbox.js"></script>
  <script src="js/vendor/slider.js"></script>




  <!-- APP -->
  <script src="dist/app.js"></script>
  <script>
  </script>
</body>
</html>
