// variables
$white: #fefefe;
$cardinal: #931e42;
$punch: #b92c28;
$sundown: #f7b3b6;
$red: #ed2b33;
$flamingo: #f05c62;
$cupid: #f6b7ba;
$apple: #54aa3a;
$mantis: #81c252;
$ironbark: #68502a;
$highland: #809a53;
$rainforest: #637f2e;
$blue: #1D3C7C;

.blue{
  background-color: $blue;
}

.white{
  background-color: $white;
}

.cardinal{
  background-color: $cardinal;
}

.punch{
  background-color: $punch;
}

.sundown{
  background-color: $sundown;
}

.red{
  background-color: $red;
}

.flamingo{
  background-color: $flamingo;
}

.cupid{
  background-color: $cupid;
}

.apple{
  background-color: $apple;
}

.mantis{
  background-color: $mantis;
}

.ironbark{
  background-color: $ironbark;
}

.highland{
  background-color: $highland;
}

.rainforest{
  background-color: $rainforest;
}

