@import "colors";
@import "fonts";
@import "overrides";
@import "_breakpoint";


$desktop : 992px;
$handheld: max-width 800px;

body{
  background-color: $blue;
}
// area above footer
.main{
  height: 100%;
}
// where route changes
.main-content{
  background-color: $blue;
  .fa-user{
  font-size: 63px;
  margin: 4vmin;
  }
}
.main-img{
  width: 30vw;
}
footer{
  height: 6vh;
  background-color: darken( $red, 20% );
  h5{
    font-size: 2vmin;
    margin: 0;
    padding: 0;
  }
}
// if materialize nav
.brand-logo{
  img{
    width: 90%;
  }
  @include breakpoint($desktop){
    img{
      width: 30%;
    }
  }
}
.nav-wrapper{
  background-color: $apple;
}
.nav-wrapper a:hover{
  cursor: pointer;
}

// if angular material nav
md-toolbar{
  .fa{
    margin-right: 1vw;
  }
}

// Side nav settings
md-sidenav{
  .fa{
    margin-right: 1vw;
  }
}
.sidenav-active{
  background-color: #E4E4E4;
  transition: all 2s ease;
}

md-sidenav.md-locked-open {
    width: 200px;
    min-width: 200px;
    max-width: 304px;
    height: 100%;
}
.md-toolbar-tools{
  background-color: #43a047;
}
.fa-bars{
  font-size: 25px;
  color: white;
}
#rightMenu{
  position: absolute;
  right: 2vw;
}
.md-button.md-primary {
    color: black;
}
.fa-long-arrow-left{
  font-size: 25px;
}




// Home page

.slider-logo{
  @include breakpoint($handheld){
    width: 55vw !important;
    height: 20vh !important;
  }
}
.slider{
  .cursive{
    text-shadow: 2px 2px 8px black;
  }
}
.catchphrases{
  font-size: 2.5vw;
  font-style: italic;
  font-family: 'Serif';
  font-weight: bold;
  text-align: center;
}
// .indicators{
//   @include breakpoint($handheld){
//     display: none;
//   }
// }

// .caption{
//   @include breakpoint($handheld){
//     .header-text{
//       font-size: 25px;
//       margin-top: 50px;
//     }
//     .cursive{
//       font-size: 18px;
//     }
//   }
// }

.my-content{
  max-width: 800px;
  min-width: 700px;
  @include breakpoint($handheld){
    max-width: 400px;
    min-width: 200px;
  }
}
.my-content-row{
  max-width: 500px;
  min-width: 300px;
  @include breakpoint($handheld){
    max-width: 200px;
    min-width: 100px;
  }
}
// Gallery
.ng-gallery{
  text-align: center;
  .thumb-holder{
    display: inline-block;
    border: 2px solid white;
    margin: 2px;
  }
  .ng-thumb{
    height: inherit;
    cursor: zoom-in;
  }
}
.thumb-holder:hover{
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  opacity: 0.8;
}

.copy {
    font-size: 1.2em;
}

.home-links {
    img {
        height: 25vmin;
        margin: 2vw;
    }
}
.banner {
    img {
        height: 13vmax;
    }
}


// Shopping cart
.totals{
  font-weight:bolder;
  text-align: right;
}
.cart{
  .remove-btn{
    min-width: 10px;
    width: 45px;
    margin: 0;
    padding: 5px;
    border-radius: 10px;
  }
}

.table-header{
  text-align: left;
  padding-left: 20px;
  i{
    margin-right: 10px;
  }
}

//testimonials
.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 90px;
  margin: 16px;
}
.testimonial-list{
  height: 7vh;
}


// wholesale customer
.profile{
  border-radius: 120px;
  border: 1px solid lightgrey;
  padding: 20px;
  // font-size: 50px;
}
